.dashboard-container {
  width: 100vw;
}

.dashboard-header-container {
  background-color: $light-grey;
  display: flex;
  height: 150px;

  .dashboard-header-wrapper {
    margin: 0 auto;
    padding: 25px;
    width: 1200px;
  }

  .dashboard-header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  .dashboard-header-title-icon {
    color: lighten($color: $dark-grey, $amount: 20);
    line-height: normal;
    margin: 0px;
  }

  .dashboard-header-title {
    color: lighten($color: $dark-grey, $amount: 10);
    line-height: normal;
    margin: 0px;
  }

  .dashboard-progress-bar-container {
    height: 100px;
    position: relative;
    width: 100px;
  }

  .dashboard-progress-hour-text {
    color: #66b9bf;
    font-size: 16px;
    position: absolute;
    top: 38px;
    text-align: center;
    width: 100%;

    .hour-suffix {
      font-size: 12px;
    }
  }
}

.dashboard-timesheet-nav-container {
  display: flex;

  .dashboard-timesheet-nav {
    background: $white;
    margin: 0 auto;
    padding: 0px 25px;
    width: 1150px;
  }

  .nav-previous,
  .nav-next {
    font-size: 25px;
  }

  .nav-previous {
    text-align: left;
  }

  .nav-next {
    text-align: right;
  }

  .nav-date-display {
    padding: 7px;
    text-align: center;

    div {
      margin: 0;
    }
  }
}
