.dashboard-container {
  width: 100vw;
}

.dashboard-header-container {
  align-items: center;
  background-color: $light-grey;
  display: flex;
  height: 150px;
  width: auto;

  .dashboard-header-wrapper {
    margin: 0 auto;
    width: 1150px;
  }

  .dashboard-header-title {
    color: $dark-grey;
    margin: 0px 25px;
  }
}

.dashboard-content-container {
  margin: 25px 0px;
  width: auto;
}
