.forgot-password-container {
  @extend .login-container;

  .forgot-password-title {
    @extend .login-title;
  }

  .forgot-password-info {
    color: $dark-grey;
    font-size: 12px;
  }

  .forgot-password-success-email {
    color: $brand-primary;
  }
}
