.login-container {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;

  .login-title {
    color: $dark-grey;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .regular-text {
    color: $dark-grey;
    margin-top: 20px;
    text-align: center;
  }

  .forgot-password-link {
    margin-top: -10px;
    margin-bottom: 15px;
    text-align: right;
  }
}
