// Colors;
$brand-primary: #66b9bf;
$grey: #dddddd;
$white: #fff;
$light-grey: #fafafa;
$dark-grey: #777777;
$error: #e24e42;
$success: #52c41a;

// Body
$body-background-color: $light-grey;
$body-default-color: #333333;
$body-default-font-family: Helvetica, Arial, sans-serif;
