// Colors;
$brand-primary: #397ab1;
$grey: #dddddd;
$white: #fff;
$light-grey: #f7f7f7;
$dark-grey: #777777;
$error: #a94442;
$cool-green: #0caa44;

// Body
$body-background-color: #fafafa;
$body-default-color: #333333;
$body-default-font-family: Helvetica, Arial, sans-serif;
