// Colors;
$brand-primary: #66b9bf;
$grey: #dddddd;
$white: #fff;
$light-grey: #f7f7f7;
$dark-grey: #777777;
$error: #e24e42;

// Body
$body-background-color: #fafafa;
$body-default-color: #333333;
$body-default-font-family: Helvetica, Arial, sans-serif;
