.no-timesheet-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.timesheet-container {
  display: flex;

  .ant-collapse
    > .ant-collapse-item.ant-collapse-no-arrow
    > .ant-collapse-header {
    padding-right: 12px;

    p {
      margin: 0;
    }
  }

  .ant-collapse > .ant-collapse-item.timesheet-panel-isnew {
    border-color: $brand-primary;
    background-color: lighten($color: $brand-primary, $amount: 39);
  }

  .timesheet-header-container-date {
    font-weight: 500;
  }

  .timesheet-header-container {
    display: flex;
    justify-content: space-between;
  }

  .timesheet-content {
    padding: 25px;
    margin: 0 auto;
    width: 1150px;
  }

  .task-item-text-container {
    display: flex;
    justify-content: space-between;
  }

  .task-item-description {
    font-weight: 500;
    margin-left: 5px;
  }

  .task-item-hours {
    color: $brand-primary;
    font-weight: bold;
    text-align: right;
  }

  i.far {
    cursor: pointer;
  }

  .far.fa-times-circle {
    color: $error;
  }

  .timesheet-progress-bar-container {
    display: flex;
  }

  .timesheet-progress-bar {
    height: 22px;
    width: 22px;
  }
}
