.task-form-container {
  display: flex;

  .task-form-field-group {
    background: $white;
    margin: 0 auto;
    padding-top: 25px;
    width: 1150px;
  }

  .task-form {
    margin: 0px 25px;
    transition: margin 1s ease-in-out;
  }

  .ant-input-number {
    width: 100%;
  }
}

.icon-wrapper {
  position: relative;
  padding-left: 30px;
}

.icon-wrapper .anticon {
  position: absolute;
  top: -2px;
  width: 16px;
  height: 16px;
  line-height: 1;
  font-size: 16px;
}

.icon-wrapper .anticon:first-child {
  left: 0;
}

@media (max-width: 1200px) {
  .task-form-container {
    .task-form {
      padding: 10 40px;
    }
  }
}

@media (max-width: 767px) {
  .task-form-container {
    margin-bottom: 20px;
  }
}
